<app-header></app-header>
<app-nav></app-nav>

<main>
    <table>
        <thead>
          <tr>
            <th>Image in databank opslaan:</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <input type="file" id="img" (change)="chooseFile($event)">
            </td> 
          </tr>
          <tr>      
            <td>
              <button (click)="addData()">Image toevoegen</button>
            </td>
          </tr>
        </tbody>
      </table>
</main>

<app-footer></app-footer>