<app-header></app-header>
<app-nav></app-nav>

<main>
  <h2 [innerHTML]="'Our majestic plants'"></h2>

  <div *ngFor="let plant of plants" class="product">
    <div class="product-content">
        <img [src]="plant.image" alt="{{ plant.name }} Image">
        <h3>{{ plant.name }}</h3>
        <p>{{ plant.description }}</p>
        <p>{{ plant.country | uppercase }}</p>
      <button class="details-button" (click)="navigateToPlantDetail(plant.id)">Info</button>
      <button class="edit-button" routerLink="/edit/{{plant.id}}">Edit</button>
      <button class="delete-button" (click)="deletePlant(plant.id)">Delete</button>
    </div>
  </div>
</main>

<app-footer></app-footer>